# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

storage/*
storage/*/*
/text-ui-test/ACTUAL.txt
text-ui-test/EXPECTED-UNIX.TXT
data/food.txt
fooddata/food.txt
text-ui-test/fooddata/food.txt
tasksdata/*
logs/*
module/*
logs/ClickLogs.log
journalData/journalNotes.txt
tasksdata/scheduleTasks.txt
zoomdata/*

text-ui-test/fooddata/*
text-ui-test/journalData/*
text-ui-test/logs/*
text-ui-test/module/*
text-ui-test/tasksdata/*
text-ui-test/zoomdata/*
